In [1]:
import os
import pandas as pd

In [2]:
base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_stock_returns_csv = os.path.join(base_url, 'anime_stock_price.csv')

In [3]:
df = pd.read_csv(anime_stock_price_csv)
df.head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51