In [2]:
import os
import pandas as pd

In [3]:
base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_genre_top10_pivoted_csv = os.path.join(base_url, 'anime_genre_top10_pivoted.csv')

In [4]:
df = pd.read_csv(anime_genre_top10_pivoted_csv)
df.head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0