In [1]:
import os
import pandas as pd

In [2]:
base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
t4816_csv = os.path.join(base_url, '4816.csv')

In [3]:
df = pd.read_csv(t4816_csv)
df.head()

         Date    Open    High     Low   Close   Volume
0  2010-01-04  1600.0  1600.0  1580.0  1597.0   5600.0
1  2010-01-05  1597.0  1605.0  1590.0  1600.0  14800.0
2  2010-01-06  1600.0  1602.0  1579.0  1601.0   8300.0
3  2010-01-07  1600.0  1600.0  1590.0  1595.0   3700.0
4  2010-01-08  1599.0  1601.0  1595.0  1600.0  32300.0